body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.slideshow {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: animate 15s ease-in-out infinite;
    background-size: cover;
}

.outer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.details {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes animate {
    0% {
        background-image: url(background-bus-1.jpg);
    }

    25% {
        background-image: url(background-bus-1.jpg);
    }

    50% {
        background-image: url(background-bus-1.jpg);
    }

    75% {
        background-image: url(background-bus-1.jpg);
    }

    100% {
        background-image: url(background-bus-1.jpg);
    }
}

/* start editing horizontal menu*/
ul.menu {
    list-style-type: none;
    margin-top: -20px;
    margin-bottom: 170px;
    padding: 0;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
}

li .menu {
    float: left;
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 35px;
    text-decoration: none;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

li a:hover {
    background-color: rgb(192, 191, 191);
    color: #000000;
    opacity: 50%;
}

/*end of the editing horizontal menu*/

h1 {
    font-size: 13px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    margin-bottom: -295px;
    word-spacing: 55px;
    text-align: center;
}

h2 {
    color: #ffffff;
    font-size: 285px;
    font-family: 'Haettenschweiler';
    font-weight: normal;
    margin-bottom: -70px;
    text-align: center;
}

h3 {
    color: #ffffff;
    font-size: 38px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    text-align: center;
    padding-bottom: 100px;
}

.high {
    font-weight: 900;
}

div.newslayout {
    margin: 25px 20px 20px 20px;
    text-align: center;
}

/*Login and signup button */
.bttn1 {
    display: inline-block;
    border-radius: 25px;
    background-color: transparent;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    height: 50px;
    width: 140px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 15px;
}

.bttn1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.bttn1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.bttn1:hover span {
    padding-right: 25px;
}

.bttn1:hover span:after {
    opacity: 1;
    right: 0;
}

/*end of login and signup button editting*/